{
  "jsxSingleQuote": true,
  "printWidth": 80,
  "proseWrap": "preserve",
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "es5",
  "useTabs": false,

  "overrides": [
    {
      "files": [
        "docs/**/*.md",
        "docs/**/*.mdx",
        "blog/**/*.md",
        "blog/**/*.mdx"
      ],
      "options": {
        "proseWrap": "always"
      }
    }
  ]
}
