/*
  SPDX-FileCopyrightText: Copyright 2025 Stacklok, Inc.
  SPDX-License-Identifier: Apache-2.0
*/

/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 2rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
  background-color: #b2e4bc !important;
  background: url('/img/stacklok-pattern-2-transparent.svg') no-repeat center
    center;
  background-size: cover;
  color: #212121;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}
