/*
  SPDX-FileCopyrightText: Copyright 2025 Stacklok, Inc.
  SPDX-License-Identifier: Apache-2.0
*/

/* Footer classes to match the style of stacklok.com */

[data-theme='dark'] .footer__logo--invert {
  -webkit-filter: invert(100%);
  filter: invert(100%);
}

.footer__copyright {
  text-align: left;
  font-size: 0.875rem;
  line-height: 24px;
}

.footer__item {
  font-size: 0.875rem;
  font-weight: 500;
}

.footer__item:not(:last-child) {
  padding-bottom: 10px;
}

.footer__icon--custom {
  color: var(--ifm-footer-color);
  padding: 0px 12px;
}

.footer__icon--custom:hover {
  color: #b2e4bc;
}

.theme-layout-footer-column:first-child {
  max-width: 400px;
  margin-right: auto;
}

.theme-layout-footer-column:last-child {
  max-width: 200px;
  margin-right: 0px;
}
