name: Static checks

on:
  workflow_call:

permissions:
  contents: read

jobs:
  lint:
    name: Lint and format checks
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6

      - name: Setup
        uses: ./.github/actions/setup

      - name: Run ESLint
        run: npm run eslint

      - name: Run markdownlint
        run: npm run markdownlint

      - name: Run Prettier
        run: npm run prettier
