name: Static checks

on:
  workflow_call:

permissions:
  contents: read

jobs:
  lint:
    name: Lint and format checks
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6

      - name: Setup
        uses: ./.github/actions/setup

      - name: Run ESLint
        run: npm run eslint

      - name: Run markdownlint
        run: npm run markdownlint

      - name: Run Prettier
        run: npm run prettier
